/* General MDX content styling */
h3,
h4,
h5,
h6,
ul,
ol,
li,
blockquote,
a {
  /* Apply a minimalistic style to all text elements within MDX content */
  color: #d1d5db;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: medium;
}
p {
  color: #d1d5db;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

h2 {
  color: #ffbe98; /* PeachFuzz color */
  text-align: center;
  margin-bottom: 2rem;
  font-size: xx-large;
}

img {
  border-radius: 0.625rem; /* rounded-lg */
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-content: center;
}

/* Simplify or remove code-specific styles if not necessary */
[data-rehype-pretty-code-fragment] code {
  background: #1f2937; /* Assuming a dark theme for code blocks */
  color: #d1d5db; /* Zinc-300 for text */
  border-radius: 0.375rem; /* rounded-lg */
  padding: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

[data-rehype-pretty-code-fragment] .line {
  padding: 0.25rem 0.5rem;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  color: #9ca3af; /* Gray-ish color for line numbers */
}

a {
  color: #ffbe98; /* PeachFuzz color */
}
